<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Название курса</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
<section class="main_head">
    <header class="second_head">
        <h1 class="course-title">Название курса</h1>
        <div class="vid">Место для видео</div>
        <div class="course-caption"><h2>Описание курса</h2></div>
    </header>
</section>

<section class="course-info">
    <div class="info-title">Чему вы научитесь:</div>
</section>

</body>
</html>