{% extends "sign_page_base.html" %}

{% block title %} Вход {% endblock %}

{% block content %}
<div class="wrap-input100">
    {{ form.email(class="input100", type="text", placeholder="Электронная почта") }}
    <span class="focus-input100"></span>
</div>

<div class="wrap-input100">
    {{ form.password(class="input100", type="password",  placeholder="Пароль") }}
    <span class="focus-input100"></span>
</div>

<div class="container-login100-form-btn">
    {{ form.submit(class="login100-form-btn") }}
</div>

{% endblock %}
