{% extends "base.html" %}

{% block title %}
<title>
    Вход в аккаунт
</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/styles/style_for_sign_in.css">
{% endblock %}

{% block content %}

<!--Форма с регистрацией-->
<form class="form_sign_in" method="post">
    <h1>Войдите в аккаунт</h1>
    <input class="login_class" type="text" name="login" placeholder="Логин">
    <input class="password_class" type="password" name="password" placeholder="Пароль">
    <input class="confirm_class" type="submit" value="Войти">
    <a href="1213">Забыли пароль?</a>
</form>

{% endblock %}
