{% extends "base.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block styles %}
<!-- Стили подключить можно здесь-->
<link href="../static/styles/style_for_labels_and_fields.css" rel="stylesheet">
{% endblock %}

{% block content %}
<form action="" method="post" novalidate>
    <div>
        {{ form.csrf_token }}
    </div>
    {% for field in form if field.name != 'csrf_token' %}
    <div>
        {{ field.label(class="label") }}
        {{ field(class="field", placeholder="Логин") }}
    </div>
    {% endfor %}
</form>
{% endblock %}
